* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transform:hover{
  transform: scale(1.2);
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas: "header header" "sidenav content" "footer footer";
  /* gap: 10px; */
  /* background-color: #2196F3; */
  /* padding: 10px; */
}

.item1 { grid-area: header; }
.item2 { grid-area: sidenav; }
.item3 { grid-area: content; overflow: auto; }
.item5 { grid-area: footer; }